# API Configuration
JSON_URL=https://ai-process-sandy.s3.eu-west-1.amazonaws.com/purge/deviation.json

# Development Settings
DEBUG=True
PYTHONPATH=src

# Plot Configuration
PLOT_DPI=300
PLOT_FORMAT=png
PLOT_DIRECTORY=plots

# Testing
PYTEST_ADDOPTS=--verbose